<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css.css" typte="text/css" />
    <title>Hello, world!</title>
  </head>
  <body>
    <h1 style="font-size:50px; text-align: center;">ADHD 자가진단 사이트</h1>
    <input type="checkbox" id="menuicon">
    <%- include('adhd.html') %>

  <div class="container mt-3">
    <form action="/ADHDSignUpadd" method="post">
      <div class="form-group">
        <label>아이디</label>
        <input type="text" class="form-control" name="id" placeholder="아이디를 입력하세요.">
      </div>
      <div class="form-group">
        <label>비밀번호</label>
        <input type="text" class="form-control" name="pw" placeholder="비밀번호를 입력하세요.">
      </div>
      <div class="form-group">
        <label>주소</label>
        <input type="text" class="form-control" name="address" placeholder="주소를 입력하세요.">
      </div>
      <div class="form-group">
        <label>이메일</label>
        <input type="email" class="form-control" name="e_mail" placeholder="이메일 주소를 입력하세요.">
      </div>
      <div class="form-group col-md-8">
          <label for="inputState">이름</label>
          <input type="text" class="form-control" name="name" placeholder="이름을 입력하세요.">
        </div>
      <div class="form-group">
        <label for="inputState">성별</label>
        <select id="inputState" class="form-control" name="gender">
          <option selected>남자</option>
          <option>여자</option>
        </select>
      </div>
      <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </form>
  </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>